.top-section{
    color: white;
    font-size: 26px;
    font-family: "Bree Serif";
    background-image: url("https://t4.ftcdn.net/jpg/06/54/93/33/360_F_654933377_Mv4khtUoZz6Qan1pWBZYSnjrZsCj3sFl.jpg");
    height: 40vh;
    background-size: cover;
}
.bottom-section{
    background-color: lightblue;
    padding: 10px;

}
.card{
    background-color: white;
    padding: 15px;
    border-radius: 7px;
    border-width: 0px;
}
.image{
    width: 76px;
    height: 134px;
    padding: 5px;
}
.head{
    color: blue;
    font-family: "Roboto";
    font-weight: 500;
    font-size: 26px;
}
.para{
    font-size: 20px;
    color: black;
}